.pattern {
  z-index: -1;
  position: absolute;
  height: 946px;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: -8px;
}
.pattern-no-color {
  position: relative;
}

.right-background {
  height: 840px;
  width: 941px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  background-image: url("/assets/svg/right-bg.svg");
  background-repeat: no-repeat;
}

.right-background h1 {
  position: relative;
  text-align: center;
  margin-top: 160px;
  margin-bottom: 100px;
  font-size: 49px;
  font-weight: 700;
  width: 537px;
}

.right-background h1::after {
  content: "";
  display: block;
  position: absolute;
  border-bottom: 2px solid #fff;
  width: 844px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 40px;
}
.right-background .description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-background .description {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  width: 740px;
}

.join-us {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 219px;
  background-color: #233548;
}
.join-us h1 {
  font-size: 49px;
  font-weight: 700;
  color: #fff;
}

.join-us .button-join-us {
  position: absolute;
  width: 103px;
  bottom: 0;
  transform: translateY(50%);
}

#section-group-training,
#section-individual-training,
#section-parkour-workshop {
  /* position: absolute;
  top: 0; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section-group-training {
  margin-top: 122px;
  padding-top: 100px;
}

#section-individual-training {
  margin-top: 132px;
  padding-top: 100px;
}

#section-parkour-workshop {
  margin-top: 100px;
  padding-top: 100px;
}

h1 {
  font-weight: 700;
  font-size: 59px;
}

.training-title-description {
  font-size: 32px;
  font-weight: 700;
}

.training-description {
  max-width: 1609px;
  width: 100%;
  margin-top: 40px;
  font-size: 30px;
  font-weight: 500;
  border-top: 2px solid #fff;
}

.training-description.individual,
.training-description.workshop {
  max-width: 1625px;
}

.border-image {
  position: absolute;
  width: 1001px;
  margin-top: -30px;
  margin-left: -20px;
}

.border-image.group {
  margin-top: -30px;
  margin-left: -20px;
}

.border-image.individual,
.border-image.workshop {
  margin-top: -25px;
  margin-left: -25px;
}
.training {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.training-header {
  z-index: 1;
  display: flex;
  position: relative;
}

.guys-icon {
  position: absolute;
  left: 105%;
  top: 50%;
  transform: translateY(-50%);
  width: 318px;
  height: auto;
}

.target-icon {
  position: absolute;
  right: 110%;
  top: 60%;
  transform: translateY(-50%);
  width: 223px;
  height: auto;
}

.workshop-icon {
  position: absolute;
  left: 110%;
  top: 50%;
  transform: translateY(-50%);
  width: 264px;
  height: auto;
}

.content-container {
  z-index: 1;
  text-align: center;
}

.training-background {
  position: relative;
  margin-top: 280px;
  width: 100%;
  overflow: hidden;
}

.training-background.group {
  height: 1005px;
}

.training-background.individual {
  height: 889px;
}

.training-background.workshop {
  height: 945px;
}

.subscriptions {
  display: flex;
  gap: 88px;
  margin-top: 52px;
}

.subscription-card {
  width: 370px;
  border: 1px solid #000;
  border-radius: 15px;
  overflow: hidden;
}

.subscription-card-header-container {
  height: 132px;
  border-bottom: 2px solid #d4dadd;
}

.subscription-card-header {
  display: flex;
  gap: 14px;
  justify-content: center;
  align-items: center;
}

.subscription-card-header-description {
  font-size: 15px;
  font-weight: 500;
  margin-left: 27px;
  margin-top: 15px;
}

.subscription-card-title {
  font-size: 23px;
  font-weight: 600;
}

.subscription-card.group .wrapper {
  position: relative;
  top: 29px;
}

.subscription-card.group .info-content-container {
  display: flex;
  flex-direction: column;
}

.subscription-card.group .info-content {
  display: flex;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 17px;
  padding-bottom: 17px;
}

.subscription-card.group .info-content:not(:last-child) {
  border-bottom: 1px solid #d4dadd;
}

.subscription-card.group .info-content-title {
  font-size: 26px;
}

.subscription-card.group .info-content-title,
.subscription-card.group .info-content-age-range,
.subscription-card.group .info-content-date,
.subscription-card.group .info-content-time {
  font-weight: 500;
}

.subscription-card.group .info-content-age-range,
.subscription-card.group .info-content-time {
  font-size: 15px;
}

.subscription-card.group .info-content-title,
.subscription-card.group .info-content-date {
  font-size: 26px;
}

.subscription-card.group .subscription-card-bottom {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 115px;
  padding-left: 27px;
  padding-right: 27px;
  background-color: #233548;
}

.subscription-card.group .subscription-card-bottom-price-container {
  color: #fff;
}

.subscription-card.group .subscription-card-bottom-price-container.one-time-access {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.subscription-card.group .subscription-card-bottom-price {
  font-size: 26px;
  font-weight: 600;
}

.subscription-card.group .subscription-card-bottom-price-description {
  font-size: 15px;
  font-weight: 300;
}

.subscription-card.individual {
  margin-top: 74px;
}

.subscription-card.individual .subscription-card-header-container {
  display: flex;
  align-items: center;
}

.subscription-card.individual .wrapper {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-left: 26px;
}

.subscription-card.individual .info-content-container {
  display: flex;
  align-items: center;
  min-height: 80px;
}

.subscription-card.individual .info-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 62px;
  padding-top: 17px;
  padding-bottom: 17px;
}

.subscription-card.individual .subscription-card-bottom {
  color: #fff;
  font-size: 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: #233548;
}

.subscription-card.individual .price-list {
  font-weight: 600;
  letter-spacing: 0.4px;
}

.subscription-card.individual .price-list .price {
  font-size: 26px;
}

.subscription-card.individual .price-info-text {
  max-width: 110px;
  width: 100%;
  font-weight: 300;
}

.subscription-card.workshop {
  margin-top: 85px;
  margin-bottom: 85px;
}

.subscription-card.workshop .subscription-card-header-container {
  display: flex;
  align-items: center;
}

.subscription-card.workshop .wrapper {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-left: 26px;
}

.subscription-card.workshop .info-content {
  font-weight: 500;
  font-size: 13px;
  padding-left: 24px;
  padding-right: 62px;
  padding-top: 22px;
  padding-bottom: 22px;
}

.subscription-card.workshop .info-content:not(:last-child) {
  border-bottom: 1px solid #d4dadd;
}

.subscription-card.workshop .subscription-card-bottom {
  color: #fff;
  font-size: 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: #233548;
}

.subscription-card.workshop .price-list {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.4px;
}

.subscription-card.workshop .price-list .price {
  font-size: 35px;
}

.subscription-card.workshop .price-info-text {
  font-size: 13px;
  font-weight: 300;
  max-width: 130px;
  width: 100%;
}

.phone-number {
  color: #000;
  font-weight: 600;
}
