.monthly-subscription-icon {
  width: 52px;
  height: auto;
  max-height: 41px;
}

.one-time-access-icon {
  width: 44px;
  height: auto;
}

.pattern {
  background-color: white;
  background-repeat: no-repeat;
  background-image: url("../svg/pattern-color.svg");
  background-size: cover;
  z-index: -1;
  position: absolute;
  height: 946px;
  width: 100%;
  overflow: hidden;
  top: -105px;
  left: 125px;
}
.pattern-no-color {
  position: relative;
}

#section-welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-welcome-header-wrapper {
  max-width: 1920px;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-top: 106px;
  height: calc(80vh - 106px - 3rem);
}
.section-welcome-header-wrapper video{
    width: calc(100% - 125px);
    /*height: calc(70vh - 106px);*/
    height: 100%;
    object-fit: cover;
    padding-left: 125px;
    z-index: 2;
}
.section-welcome-header-wrapper::before{
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 35%, #000000 150%);
}
.hero-text{
  /*background-color: #fcb223A0;*/
  position: absolute;
  bottom: 2rem;
  left: calc(125px + 2rem);
  width: 35%;
  /*transform: translate(-50%, -50%);*/
  color: white;
  font-size: 0.875rem;
  font-weight: 500;
  text-align: left;
  z-index: 3;
  border-radius: 16px;
  padding: 20px;

}
.hero-text h1{
  font-size: 1.1rem;
  margin: 0;
}
.hero-text p{
  margin-bottom: 0;
}

.right-background {
  padding-bottom: 23px;
  width: 941px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  background-image: url("../svg/right-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.right-background h1 {
  position: relative;
  text-align: center;
  margin-top: 160px;
  margin-bottom: 100px;
  font-size: 2rem;
  font-weight: 700;
  width: 537px;
}

.right-background h1::after {
  content: "";
  display: block;
  position: absolute;
  border-bottom: 2px solid #fff;
  width: 844px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 40px;
}
.right-background .description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-background .description {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  max-width: 740px;
  width: 100%;
}

.join-us {
  padding-left: 125px;
  box-sizing: border-box;
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #233548;
}
.join-us h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

.join-us .button-join-us {
  position: absolute;
  width: 5rem;
  bottom: 0;
  transform: translateY(50%);
}

#section-group-training,
#section-individual-training,
#section-parkour-workshop {
  display: flex;
}

#section-group-training {
  margin-top: 1rem;
  padding-top: 2rem;
}

#section-individual-training {
  margin-top: 1rem;
  padding-top: 2rem;
}

#section-parkour-workshop {
  margin-top: 1rem;
  padding-top: 2rem;
}

h1 {
  font-weight: 700;
  font-size: 2rem;
}

.training-title-description {
  font-size: 1.2rem;
  font-weight: 700;
  max-width: 500px;
}

.training-description {
  box-sizing: border-box;
  margin-top: 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  border-top: 0.5pt solid #fff;
}
.training-description p:first-child{
  margin-top: 1rem;
}

.training-description.individual,
.training-description.workshop {
  max-width: 1625px;
}

.border-image {
  position: absolute;
  width: 1001px;
}

.border-image.group {
  margin-top: -30px;
  margin-left: -20px;
}

.border-image.individual,
.border-image.workshop {
  margin-top: -25px;
  margin-left: -25px;
}

.training-header {
  z-index: 1;
  position: relative;
  -ms-transform: translate(0, 50%);
  -webkit-transform: translate(0, 50%);
  -moz-transform: translate(0, 50%);
  -o-transform: translate(0, 50%);
  transform: translate(0, 50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 6rem);
  padding: 0 3rem;
}

.target-icon {
  width: 150px;
}

.workshop-icon {
  width: 180px;
}
/*.workshop-icon {*/
/*  position: absolute;*/
/*  left: 110%;*/
/*  top: 50%;*/
/*  transform: translateY(-50%);*/
/*  width: 264px;*/
/*  height: auto;*/
/*}*/

.content-container {
  z-index: 1;
  text-align: left;
  margin-top: 8rem;
  padding: 4.5rem 3rem;
}
.content-container h1 {
  margin-bottom: 0.5rem;
}

.training-background {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.training-container {
  margin-left: 125px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.training-background{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #fcb223;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-size: cover;
  -webkit-mask-size: cover;
  height: auto;
}
.training-background.group {
  mask-image: url(../svg/group-mask.svg);
  -webkit-mask-image: url(../svg/group-mask.svg);
}

.training-background.individual {
  mask-image: url(../svg/individual-mask.svg);
  -webkit-mask-image: url(../svg/individual-mask.svg);
}

.training-background.workshop {
  mask-image: url(../svg/workshop-mask.svg);
  -webkit-mask-image: url(../svg/workshop-mask.svg);
}

.subscriptions {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
  max-width: 1500px;
  gap: 1rem;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 52px;
}

.subscription-card {
  background-color: white;
  max-width: 370px;
  min-width: 270px;
  width: 100%;
  border: 1px solid #000;
  border-radius: 15px;
  overflow: hidden;
}

.subscription-card-header-container {
  height: 132px;
  border-bottom: 2px solid #d4dadd;
}

.subscription-card-header {
  display: flex;
  gap: 14px;
  align-items: flex-end;
  padding: 0 24px;
}
.subscription-card-header .monthly-subscription-icon {
  /*mask-image: url(../svg/icon-monthly-subscription-clip.svg);*/
  /*-webkit-mask-image: url(../svg/icon-monthly-subscription-clip.svg);*/
}

.subscription-card-header-description {
  font-size: 15px;
  font-weight: 500;
  padding-left: 24px;
  margin-top: 15px;
}

.subscription-card-title {
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 3px;
}

.subscription-card.group .wrapper {
  position: relative;
  top: 29px;
}

.subscription-card.group .info-content-container {
  display: flex;
  flex-direction: column;
}

.subscription-card.group .info-content {
  display: flex;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 17px;
  padding-bottom: 17px;
}

.subscription-card.group .info-content:not(:last-child) {
  border-bottom: 1px solid #d4dadd;
}

.subscription-card.group .info-content-title {
  font-size: 26px;
}

.subscription-card.group .info-content-title,
.subscription-card.group .info-content-age-range,
.subscription-card.group .info-content-date,
.subscription-card.group .info-content-time {
  font-weight: 500;
}

.subscription-card.group .info-content-age-range,
.subscription-card.group .info-content-time {
  font-size: 15px;
}

.subscription-card.group .info-content-title,
.subscription-card.group .info-content-date {
  font-size: 26px;
}

.subscription-card.group .subscription-card-bottom {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 115px;
  padding-left: 27px;
  padding-right: 27px;
  background-color: #233548;
}

.subscription-card.group .subscription-card-bottom-price-container {
  color: #fff;
}

.subscription-card.group .subscription-card-bottom-price-container.one-time-access {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.subscription-card.group .subscription-card-bottom-price {
  font-size: 26px;
  font-weight: 600;
}

.subscription-card.group .subscription-card-bottom-price-description {
  font-size: 15px;
  font-weight: 300;
}

.subscription-card.individual {
  margin-top: 74px;
}

.subscription-card.individual .subscription-card-header-container {
  display: flex;
  align-items: center;
}

.subscription-card.individual .wrapper {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-left: 26px;
}

.subscription-card.individual .info-content-container {
  display: flex;
  align-items: center;
  min-height: 80px;
}

.subscription-card.individual .info-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 62px;
  padding-top: 17px;
  padding-bottom: 17px;
}

.subscription-card.individual .subscription-card-bottom {
  color: #fff;
  font-size: 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: #233548;
}

.subscription-card.individual .price-list {
  font-weight: 600;
  letter-spacing: 0.4px;
}

.subscription-card.individual .price-list .price {
  font-size: 26px;
}

.subscription-card.individual .price-info-text {
  max-width: 110px;
  width: 100%;
  font-weight: 300;
}

.subscription-card.workshop {
  margin-top: 85px;
  margin-bottom: 85px;
}

.subscription-card.workshop .subscription-card-header-container {
  display: flex;
  align-items: center;
}

.subscription-card.workshop .wrapper {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-left: 26px;
}

.subscription-card.workshop .info-content {
  font-weight: 500;
  font-size: 13px;
  padding-left: 24px;
  padding-right: 62px;
  padding-top: 22px;
  padding-bottom: 22px;
}

.subscription-card.workshop .info-content:not(:last-child) {
  border-bottom: 1px solid #d4dadd;
}

.subscription-card.workshop .subscription-card-bottom {
  color: #fff;
  font-size: 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: #233548;
}

.subscription-card.workshop .price-list {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.4px;
}

.subscription-card.workshop .price-list .price {
  font-size: 35px;
}

.subscription-card.workshop .price-info-text {
  font-size: 13px;
  font-weight: 300;
  max-width: 130px;
  width: 100%;
}

.phone-number {
  color: #000;
  font-weight: 600;
}
.guys-icon{
  width: 220px;
}
.border-image {
  width: 640px;
  margin-top: -20px;
  margin-left: -25px;
}
.training-png {
  width: 600px;
}

@media only screen and (max-width: 1900px) {
  #section-group-training {
    margin-top: 1rem;
    padding-top: 2rem;
  }

  #section-individual-training {
    margin-top: 1rem;
    padding-top: 2rem;
  }

  #section-parkour-workshop {
    margin-top: 1rem;
    padding-top: 2rem;
  }
  .guys-icon {
    width: 220px;
  }
  .target-icon {
    width: 150px;
  }

  .workshop-icon {
    width: 180px;
  }

  .border-image.group {
    width: 640px;
    margin-top: -20px;
    margin-left: -25px;
  }

  .border-image.individual {
    width: 640px;
    margin-top: -10px;
    margin-left: -20px;
  }

  .border-image.workshop {
    width: 640px;
    margin-top: -10px;
    margin-left: -20px;
  }

  .training-png {
    width: 600px;
  }
}

@media only screen and (max-width: 1600px) {
  .right-background h1 {
    font-size: 2rem;
    margin-top: 100px;
    margin-bottom: 60px;
  }

  .right-background h1::after {
    width: 550px;
  }

  .right-background {
    padding-bottom: 40px;
    width: 700px;
  }
  .right-background .description {
    max-width: 550px;
    width: 100%;
    font-size: 26px;
  }
}

@media only screen and (max-width: 1280px) {

  #section-group-training {
    margin-top: 1rem;
    padding-top: 2rem;
  }

  #section-individual-training {
    margin-top: 1rem;
    padding-top: 2rem;
  }

  #section-parkour-workshop {
    margin-top: 1rem;
    padding-top: 2rem;
  }
  h1 {
    font-size: 2rem;
  }

  .training-title-description {
    /*font-size: 26px;*/
  }
  .training-description {
    font-size: 0.875rem;
  }

  .training-png {
    width: 400px;
  }

  .border-image.group {
    width: 420px;
    margin-top: -5px;
    margin-left: -12px;
  }

  .border-image.individual {
    width: 420px;
    margin-top: -4px;
    margin-left: -10px;
  }

  .border-image.workshop {
    width: 420px;
    margin-top: -4px;
    margin-left: -10px;
  }

  .guys-icon {
    width: 150px;
  }

  .target-icon {
    width: 100px;
  }

  .workshop-icon {
    width: 110px;
  }

  .right-background h1 {
    max-width: 420px;
    width: 100%;
    font-size: 2rem;
    margin-top: 70px;
    margin-bottom: 40px;
  }

  .right-background h1::after {
    width: 420px;
    margin-top: 30px;
  }

  .right-background {
    padding-bottom: 40px;
    width: 550px;
  }
  .right-background .description {
    max-width: 420px;
    width: 100%;
    font-size: 24px;
  }
  .content-container {
    margin-top: 5rem
  }
}

@media only screen and (max-width: 920px) {
  .section-welcome-header-wrapper video{
    padding-left: 0;
    width: 100%;
  }


  .section-welcome-header-wrapper {
    margin-top: 213px;
  }
  .hero-text{
    width: 70%;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .pattern {
    left: 0;
    top: 0;
    background-image: url("../svg/pattern-color-mobile.svg");
    height: 100%;
  }
  .right-background {
    background-image: url("../svg/right-bg-mobile.svg.svg");
    width: 100%;
    background-size: cover;
    min-height: 780px;
  }

  .right-background h1 {
    max-width: 620px;
    font-size: 2rem;
  }

  .right-background .description {
    max-width: 640px;
    width: 100%;
    font-size: 30px;
    padding-bottom: 50px;
  }

  .training-container {
    margin-left: 0;
  }
  .join-us {
    padding-left: 0;
  }
  .subscriptions {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  #section-group-training {
    padding-top: 2rem;
    margin-top: 1rem;
  }

  #section-individual-training {
    padding-top: 2rem;
    margin-top: 1rem;
  }

  #section-parkour-workshop {
    padding-top: 2rem;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 820px) {
  #section-group-training {
    padding-top: 2rem;
    margin-top: 1rem;
  }

  #section-individual-training {
    padding-top: 2rem;
    margin-top: 1rem;
  }

  #section-parkour-workshop {
    padding-top: 2rem;
    margin-top: 1rem;
  }

  .join-us h1 {
    font-size: 2rem;
  }

  h1 {
    font-size: 2rem;
  }

  .right-background {
    min-height: 690px;
  }

  .right-background h1 {
    max-width: 440px;
    font-size: 2rem;
  }

  .right-background .description {
    padding: 0 25px 20px 25px;
    box-sizing: border-box;
    font-size: 26px;
  }
  .section-welcome-header-wrapper {
    margin-top: 198px;
  }
  .training-title-description {
    /*font-size: 23px;*/
  }
  .training-description {
    font-size: 0.875rem;
  }

  .training-png {
    width: 280px;
  }

  .border-image.group {
    width: 300px;
    margin-top: -5px;
    margin-left: -10px;
  }

  .border-image.individual {
    width: 300px;
    margin-top: -5px;
    margin-left: -10px;
  }

  .border-image.workshop {
    width: 300px;
    margin-top: -5px;
    margin-left: -10px;
  }

  .guys-icon {
    width: 90px;
  }

  .target-icon {
    width: 70px;
  }

  .workshop-icon {
    width: 80px;
  }
  .content-container {
    margin-top: 4rem;
    padding: 4.5rem 1.5rem;
  }
}

@media screen and (max-width: 700px) {
  .section-welcome-header-wrapper {
    margin-top: 188px;
  }
}

@media screen and (max-width: 550px) {
  .section-welcome-header-wrapper {
    margin-top: 183px;
  }
  .hero-text {
    width: 85%;
  }
  .hero-text h1 {
    font-size: 0.97rem;
  }
}

@media screen and (max-width: 530px) {

  h1 {
    font-size: 1.8rem;
  }
  .right-background {
    min-height: 540px;
  }
  .right-background h1 {
    margin-top: 50px;
    margin-bottom: 30px;
    max-width: 300px;
    font-size: 2rem;
  }

  .right-background h1::after {
    margin-top: 20px;
  }

  .right-background .description {
    font-size: 21px;
  }

  .join-us h1 {
    font-size: 2rem;
  }

  #section-group-training {
    padding-top: 2rem;
    margin-top: 1rem;
  }
  #section-individual-training {
    padding-top: 2rem;
    margin-top: 1rem;
  }

  #section-parkour-workshop {
    padding-top: 2rem;
    margin-top: 1rem;
  }

  .training-title-description {
    font-size: 0.89rem;
  }
  .training-description {
    font-size: 0.875rem;
  }

  .training-png {
    width: 194px;
  }

  .border-image.group {
    width: 210px;
    margin-top: -3px;
    margin-left: -8px;
  }

  .border-image.individual {
    width: 210px;
    margin-top: -3px;
    margin-left: -8px;
  }

  .border-image.workshop {
    width: 210px;
    margin-top: -3px;
    margin-left: -8px;
  }

  .guys-icon {
    width: 64px;
  }

  .target-icon {
    width: 47px;
  }

  .workshop-icon {
    width: 55px;
  }
  .content-container {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 460px) {
  h1 {
    font-size: 1.6rem;
  }
  .section-welcome-header-wrapper {
    margin-top: 178px;
  }
  .right-background {
    min-height: 362px;
  }
  .right-background h1 {
    font-size: 2rem;
    max-width: 230px;
  }
  .right-background .description {
    font-size: 14px;
    max-width: 365px;
  }

  .join-us h1 {
    font-size: 2rem;
  }

  .training-title-description {
    /*font-size: 17px;*/
  }

  .training-description {
    font-size: 0.875rem;
  }

  .subscription-card-title {
    font-size: 20px;
  }

  .monthly-subscription-icon {
    width: 46px;
  }

  .one-time-access-icon {
    width: 38px;
  }

  .subscription-card.group .wrapper {
    top: 15px;
  }

  .subscription-card-header-container {
    height: 116px;
  }

  .subscription-card-header-description {
    font-size: 13px;
  }

  .subscription-card.group .info-content-title,
  .subscription-card.group .info-content-date {
    font-size: 22px;
  }

  .subscription-card.group .info-content-age-range,
  .subscription-card.group .info-content-time {
    font-size: 13px;
  }
}
